<h3>Ajouter Ticket Cinéma</h3>
<div style="width:75%;margin:auto">
    <form #addPlaceForm="ngForm">

        <div class="form-group">
            <label for="firstname">Prix</label>
            <input type="text" class="form-control" id="prix" placeholder="Prix" required name="prix" >
           
        </div>

        <div class="form-group">
            <label for="lastname">Heure</label>
            <input type="text" class="form-control" id="heure" placeholder="Heure" required name="heure" >
            
        </div>
        <div class="form-group">
            <label for="lastname">Nom de Film</label>
            <input type="text" class="form-control" id="nomFilm" placeholder="Nom de Film" required name="nomFilm" >
            
        </div>
        


        <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-dark">Retour</button>
            <button type="button" class="btn btn-dark" >Ajouter</button>
        </div>
    </form>
</div>

<!--<div [hidden]="!submitted">
    <p>Soumis avec succès! <span class="badge badge-light"></span></p>
    <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-dark">Retour</button>
        <button type="button" class="btn btn-dark" (click)="newUser()">Continue</button>
    </div>-->

