<!-- Toolbar 
<div class="toolbar" role="banner">
    <div class="header">
        <img src="assets/images/logo.jpg" width=80 height="60">

        <span>Welcome</span></div>
    <ol class="menu">
        <li><a routerLink="AjouterPlace" class="btn btn-success">Ajouter Place</a></li>
        <li><a routerLink="AfficherPlace" class="btn btn-warning">Afficher Place</a></li>
        <li><a routerLink="AjouterTicketCinéma" class="btn btn-success">Ajout Ticket Cinéma</a></li>
        <li><a routerLink="AfficherTicketsCinéma" class="btn btn-warning">Afficher Ticke Cinéma</a></li>
    </ol>
</div>-->
<div style="width:100%;float:left;position: relative; top:50px;color: black;">
    <ul>
        <li *ngFor="let player of Players">
            <h2>{{player.Name}}</h2>
            <p>{{player.club}}</p>
        </li>
    </ul>
    <router-outlet>

    </router-outlet>
</div>